/* General Styling */
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fc;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Container */
.container {
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    margin-right: 0;
    

}

/* Sections */
.section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    text-align: left;
}

h2 {
    color: #d9534f;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2 i {
    color: #d9534f;
}

/* List Items */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    /* background: white; */
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Buttons */
button {
    padding: 10px 15px;
    background: #d9534f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

button:hover {
    background: darkred;
    transform: scale(1.05);
}

/* Inputs */
input[type="text"], input[type="number"], input[type="file"] {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Sidebar Navigation */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #333333;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.sidebar h2 {
    text-align: center;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;

    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: 0.3s;
}
.sidebar h2 {
    text-align: center;
}

.sidebar ul li a:hover {
    background: #34495e;
    border-radius: 5px;
}
.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #ddd;
}
