:root {
    --primary-color: #D32F2F;
    --dark-bg: #222;
    --accent-bg: #333;
    --light-bg: #fff;
    --muted-bg: #f4f4f4;
    --light-gray: #f9f9f9;
    --text-color: #333;
    --transition-speed: 0.3s;
}

body {
    font-family: Arial, sans-serif;
    background: var(--muted-bg);
    color: var(--text-color);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-left: 0px;
    margin-bottom: 240px;
    background: var(--light-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h2 {
    text-align: center;
    color: var(--primary-color);
}

.student-info {
    background: var(--light-gray);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-info h3 {
    margin: 0 0 10px;
    color: var(--primary-color);
}

.scholarship-name {
    margin-left: 20px; /* Optional: Adds space between student name and scholarship */
}

.info {
    margin: 5px 0;
    font-size: 16px;
}
